<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>

<div class="panel panel-default">
    <div class="panel-heading">秒杀商品详情</div>
    <div class="panel-body">
        <span th:if="${user eq null}"> 您还没有登录，请登陆后再操作<br/></span>
        <span>没有收货地址的提示。。。</span>
    </div>
    <table class="table" id="goodslist">
        <tr>
            <td>商品名称</td>
            <td colspan="3" th:text="${goods.goodsName}"></td>
        </tr>
        <tr>
            <td>商品图片</td>
            <td colspan="3"><img th:src="@{${goods.goodsImg}}" width="200" height="200" /></td>
        </tr>
        <tr>
            <td>秒杀开始时间</td>
            <td th:text="${#dates.format(goods.startDate, 'yyyy-MM-dd HH:mm:ss')}"></td> <!--时间 显示格式-->
            <td>秒杀结束时间</td>
            <td th:text="${#dates.format(goods.endDate, 'yyyy-MM-dd HH:mm:ss')}"></td> <!--时间 显示格式-->
            <td id="miaoshaTip">
                <input type="hidden" id="remainSeconds" th:value="${remainSeconds}" />
                <span th:if="${miaoshaStatus eq 0} ">秒杀倒计时：<span id="countDown" th:text="${remainSeconds}"></span>秒</span>
                <span th:if="${miaoshaStatus eq 1}">秒杀进行中</span>
                <span th:if="${miaoshaStatus eq 2}">秒杀已结束</span>
            </td>
        </tr>
        <tr>
            <td>商品原价</td>
            <td colspan="3" th:text="${goods.goodsPrice}"></td>
        </tr>
        <tr>
            <td>秒杀价</td>
            <td colspan="3" th:text="${goods.miaoshaPrice}"></td>
        </tr>
        <tr>
            <td>库存数量</td>
            <td colspan="3" th:text="${goods.stockCount}"></td>
        </tr>
        <tr>
            <form id="miaoshaForm" method="post" action="/miaosha/do_miaosha"> <!--一个秒杀 按钮 将 秒杀订单提交到 do_miaosha-->
                    <button class="btn btn-primary btn-block" type="submit" id="buyButton">立即秒杀</button>
                    <input type="hidden" name="goodsId" th:value="${goods.id}" />
            </form>
        </tr>
    </table>
</div>
</body>
<script>
    $(function () {
        countDown();
    })
    // function countDown(){
    //     var remainSeconds = $("#remainSeconds").val();
    //     var timeout;
    //     if(remainSeconds > 0){//秒杀还没开始，倒计时
    //         $("#buyButton").attr("disabled", true);
    //         timeout = setTimeout(function(){
    //             $("#countDown").text(remainSeconds - 1);
    //             $("#remainSeconds").val(remainSeconds - 1);
    //             countDown();
    //         },1000);
    //     }else if(remainSeconds == 0){//秒杀进行中
    //         $("#buyButton").attr("disabled", false);
    //         if(timeout){
    //             clearTimeout(timeout);
    //         }
    //         $("#miaoshaTip").html("秒杀进行中");
    //     }else{//秒杀已经结束
    //         $("#buyButton").attr("disabled", true);
    //         $("#miaoshaTip").html("秒杀已经结束");
    //     }
    // }
    function countDown() {
        var remianSeconds =$("#remainSeconds").val();
        var timeout;//定义一个timeout 保存Timeout 值
        if (remianSeconds>0){//秒杀未开始
            $("#buyButton").attr("disabled",true);/*还没开始的时候按钮不让点*/
            /*且做一个倒计时*/
            timeout=setTimeout(function () {//setTimeout 为时间到了之后执行 该函数
                $("#countDown").text(remianSeconds-1);//将显示中的值 -1
                $("#remainSeconds").val(remianSeconds-1);// remianSeconds 值减一
                countDown();//在调用该方法 实现循环
            },1000)
        }else if (remianSeconds == 0){//秒杀进行中
            $("#buyButton").attr("disabled",false);
            //当remainSeconds =0
            clearTimeout(timeout);//取消timeout 代码执行
            $("#miaoshaTip").html("秒杀进行中！")//修改其中的内容
        } else {//秒杀结束
            $("#buyButton").attr("disabled",true);
            $("#miaoshaTip").html("结束！！！")//修改其中的内容
        }
    }
</script>
</html>
